.scrollToTop {
    /*height: 1em;*/
    /*width: 1em;*/
    opacity: 0.2;
    width: 5%;
    position: fixed;
    bottom: 0;
    /*z-index: 1;*/
    /*padding: 1em;*/
    margin: 3.25%;
    /*background-color: black;*/
    /*border-radius: 5px;*/

    /*transition: transform 0.4s;*/
    /*-webkit-transition: -webkit-transform 0.4s;*/

    /*padding: 0.5em;*/
    /*transition: .5s ease;*/
    /*overflow-x: hidden;*/
    /*padding-top: 20px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*text-align: center;*/
}
/*.scrollToTop:hover {*/
/*    transform: translate(0, -8em);*/
/*    -webkit-transform: translate(0, -8em);*/
/*}*/

.scrollToTopImage {
    width: 100%;
}