.scrollToTop {
    /*height: 1em;*/
    /*width: 1em;*/
    width: 25%;
    /*position: fixed;*/
    z-index: 1;
    /*bottom: 0;*/
    /*left: 3%;*/
    padding: 1em;
    margin: 1em;
    background-color: black;
    border-radius: 5px;
    /*margin: 1em 1em 0;*/

    /*transition: transform 0.4s;*/
    /*-webkit-transition: -webkit-transform 0.4s;*/

    /*padding: 0.5em;*/
    /*transition: .5s ease;*/
    /*overflow-x: hidden;*/
    /*padding-top: 20px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*text-align: center;*/
}
/*.scrollToTop:hover {*/
/*    transform: translate(0, -8em);*/
/*    -webkit-transform: translate(0, -8em);*/
/*}*/

.scrollToTopImage {
    width: 100%;
}